@body-bg:     purple; // test background color

body {
  background-color: @body-bg;
}

#container {
  padding-top: 70px;
}

.clickable {
  cursor: pointer;
}

.container-margin {
  background-color: #001100;
  height: 100%;
}

span.stars, span.stars span {
  display: block;
  background: url(../assets/images/stars.png) 0 -16px repeat-x;
  width: 80px;
  height: 16px;
}

span.stars span {
  background-position: 0 0;
}

.loading {
  width: 100% !important;
}